/* 遊戲區域 */
#game {
  width: 800px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 五個點的共同樣式 */
.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  position: absolute;
}

/* 左上 */
#dot1{
  top: 0;
  left: 0;
}

/* 右上 */
#dot2{
  top: 0;
  right: 0;
}

/* 正中 */
#dot3{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 左下 */
#dot4{
  bottom: 0;
  left: 0;
}

/* 右下 */
#dot5{
  bottom: 0;
  right: 0;
}
#start{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgb(80, 77, 235);
    color: #c8ff00;

    transition: 0.2s;
}
#start:hover{
    width: 300px;
    height: 75px;
    border-radius: 30px;
    transition: 0.2s;
}
#time{
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 20px;
}